In [3]:
import pandas as pd

df=pd.read_csv("world.csv")
allDataFrame = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]
Taiwan=allDataFrame[allDataFrame["國家"]=="台灣"]
Taiwan

        洲名  國家          日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20        0      0  23855008  99999.00
...     ..  ..         ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [5]:
Taiwan_df5w=Taiwan[Taiwan['新增確診數']>50000]
Taiwan_df5w

        洲名  國家          日期     總確診數   新增確診數      總人口數    解封指數
164830  亞洲  台灣  2022-05-09   397504  128935  23855008   25.86
164831  亞洲  台灣  2022-05-10   448323   50819  23855008   29.28
164832  亞洲  台灣  2022-05-11   505455   57132  23855008   33.14
164833  亞洲  台灣  2022-05-12   570870   65415  23855008   37.55
164835  亞洲  台灣  2022-05-14   699824  128954  23855008   46.24
164836  亞洲  台灣  2022-05-15   768543   68719  23855008   50.88
164837  亞洲  台灣  2022-05-16   830257   61714  23855008   55.04
164838  亞洲  台灣  2022-05-17   896059   65802  23855008   59.48
164839  亞洲  台灣  2022-05-18   981141   85082  23855008   65.22
164840  亞洲  台灣  2022-05-19  1070561   89420  23855008   71.25
164841  亞洲  台灣  2022-05-20  1156291   85730  23855008   77.03
164842  亞洲  台灣  2022-05-21  1240897   84606  23855008   82.74
164843  亞洲  台灣  2022-05-22  1320371   79474  23855008   88.10
164844  亞洲  台灣  2022-05-23  1386640   66269  23855008   92.57
164845  亞洲  台灣  2022-05-24  1469019   82379  23855008   98.12
164846  亞洲  台灣  2022-05-25  1558380   89361  23855008  104.15
164847  亞洲  台灣  2022-05-26  1640271   81891  23855008  109.68
164848  亞洲  台灣  2022-05-27  1735067   94796  23855008  116.08
164849  亞洲  台灣  2022-05-28  1815703   80636  23855008  121.52
164850  亞洲  台灣  2022-05-29  1892272   76569  23855008  126.69
164851  亞洲  台灣  2022-05-30  1952355   60083  23855008  130.75
164852  亞洲  台灣  2022-05-31  2032983   80628  23855008  136.19
164853  亞洲  台灣  2022-06-01  2121231   88248  23855008  142.15
164854  亞洲  台灣  2022-06-02  2198161   76930  23855008   -1.00
164855  亞洲  台灣  2022-06-03  2274666   76505  23855008  152.51
164856  亞洲  台灣  2022-06-04  2342794   68128  23855008  157.10
164857  亞洲  台灣  2022-06-05  2404871   62077  23855008  161.31
164858  亞洲  台灣  2022-06-06  2457881   53010  23855008  164.89
164859  亞洲  台灣  2022-06-07  2540871   82990  23855008  170.49
164860  亞洲  台灣  2022-06-08  2620941   80070  23855008  175.90
164861  亞洲  台灣  2022-06-09  2693787   72846  23855008  180.83
164862  亞洲  台灣  2022-06-10  2762080   68293  23855008  185.44
164863  亞洲  台灣  2022-06-11  2841696   79616  23855008  190.82
164864  亞洲  台灣  2022-06-12  2892263   50567  23855008  194.24
164866  亞洲  台灣  2022-06-14  3003501   66138  23855008  201.76
164867  亞洲  台灣  2022-06-15  3072432   68931  23855008  206.41
164868  亞洲  台灣  2022-06-16  3135565   63133  23855008  210.68
164869  亞洲  台灣  2022-06-17  3190787   55222  23855008  214.41
164870  亞洲  台灣  2022-06-18  3244453   53666  23855008  218.04
164871  亞洲  台灣  2022-06-19  3295076   50623  23855008  221.47
164873  亞洲  台灣  2022-06-21  3387061   56366  23855008  227.69
164874  亞洲  台灣  2022-06-22  3439279   52218  23855008  231.22

In [10]:
#取出Max
max=Taiwan["新增確診數"].max()
Taiwan[Taiwan['新增確診數']==max]

        洲名  國家          日期    總確診數   新增確診數      總人口數   解封指數
164835  亞洲  台灣  2022-05-14  699824  128954  23855008  46.24