In [4]:
import pandas as pd
df=pd.read_csv("學生成績.csv")

chinese_s=df["國文"]
math_s=df["數學"]

In [9]:
#國文及格
chinese_s[chinese_s>=60]
display(pd.DataFrame(chinese_s))
#數學不及格
math_s[math_s<60]
display(pd.DataFrame(math_s))

    國文
0   55
1   76
2   70
3   67
4   69
5   67
6   59
7   68
8   73
9   72
10  70
11  82
12  71
13  70
14  68
15  66
16  99
17  74
18  83
19  91
20  78
21  86
22  51
23  67
24  60
25  65
26  71
27  63
28  96
29  84

     數學
0    81
1    91
2    59
3    95
4    89
5    60
6    51
7    99
8   100
9    57
10   78
11   56
12   88
13   63
14   59
15   68
16   65
17   87
18   96
19   84
20   50
21   77
22   52
23   63
24   70
25   60
26   63
27   56
28   84
29   72