In [13]:
import pandas as pd
data={"字串":["台北","台中"],
      "整數":[1000,3000],
      "浮點數":[3.527,2.15]}
df=pd.DataFrame(data)
display(df)

   字串    整數    浮點數
0  台北  1000  3.527
1  台中  3000  2.150

In [20]:
#視覺美化
df.style\
.format(precision=2,thousands=",",decimal=".")\
.relabel_index(["列1","列2"])

In [60]:
import numpy as np
data=np.random.rand(10,2)*5
df=pd.DataFrame(data,columns=['台北','台東'],index=pd.date_range(start='2023-09-30',periods=10))
df

                  台北        台東
2023-09-30  1.438758  1.475920
2023-10-01  1.444151  0.813804
2023-10-02  1.085949  3.578457
2023-10-03  2.498133  2.684189
2023-10-04  2.219306  0.194125
2023-10-05  0.731155  2.188069
2023-10-06  1.360261  0.835654
2023-10-07  2.794904  4.217686
2023-10-08  4.904589  1.324189
2023-10-09  3.218570  0.962556

In [65]:
def feel_condition(v):
    if v<1.75:
        return"溫暖"
    elif v<2.75:
        return"潮濕"
    else:
        return"日照"
df.style\
.format(feel_condition)\
.set_caption("體感溫度")\
.background_gradient(cmap='RdPu',vmin=1,vmax=9,axis=None)

In [54]:
#隱藏資料
df = pd.DataFrame(np.random.randn(5,5))
df.style\
.hide(subset=[0, 2, 4],axis=0)\
.hide(subset=[1,3],axis=1)

In [71]:
df=pd.DataFrame(np.random.randn(10,4),
             columns=["A","B","c","D"])
display(df)

def style_negative(v,props=''):
    return props if v<0 else None

df.style\
.map(style_negative,props='color:red')

          A         B         c         D
0  0.772031  0.796641 -0.895507  1.994530
1 -0.273935 -0.019603  1.242972 -1.373721
2 -0.538651 -0.883688  0.560459  0.749497
3  0.293654  0.876161 -0.846893 -0.910387
4 -0.421738 -0.357323  0.134588 -1.222655
5  0.877411  1.444763 -0.879995  0.254846
6 -0.849793  0.964633 -0.395134  2.596571
7  0.093331  0.881621  0.773820 -0.289343
8  2.522480  0.194218 -1.141422  0.389633
9  0.380640 -1.537493  0.614806  0.078570