In [13]:
import pandas as pd
data={"字串":["台北","台中"],
      "整數":[1000,3000],
      "浮點數":[3.527,2.15]}
df=pd.DataFrame(data)
display(df)

   字串    整數    浮點數
0  台北  1000  3.527
1  台中  3000  2.150

In [20]:
#視覺美化
df.style\
.format(precision=2,thousands=",",decimal=".")\
.relabel_index(["列1","列2"])

In [28]:
import numpy as np
data=np.random.rand(10,2)*5
df=pd.DataFrame(data,columns=['台北','台東'],index=pd.date_range(start='2023-09-30',periods=10))
df

                  台北        台東
2023-09-30  1.294045  0.900906
2023-10-01  4.806785  3.061396
2023-10-02  0.615676  3.376716
2023-10-03  0.040396  0.889267
2023-10-04  1.758564  4.852218
2023-10-05  2.924357  0.275285
2023-10-06  2.133872  4.285741
2023-10-07  2.363852  2.796807
2023-10-08  2.486501  1.571874
2023-10-09  4.934097  1.474876

In [49]:
def feel_condition(v):
    if v<1.75:
        return"溫暖"
    elif v<2.75:
        return"潮濕"
    else:
        return"日照"
df.style\
.format(feel_condition)\
.set_caption("體感溫度")\
.background_gradient(cmap='RdPu',vmin=1,vmax=9,axis=None)