In [1]:
import pandas as pd
frame=pd.read_csv('world.csv')
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              187885 non-null  int64
 1   iso_code        187885 non-null  object
 2   洲名              187885 non-null  object
 3   國家              187885 non-null  object
 4   日期              187885 non-null  object
 5   總確診數            187885 non-null  int64
 6   新增確診數           187885 non-null  int64
 7   七天移動平均新增確診數     187885 non-null  float64
 8   總死亡數            187885 non-null  int64
 9   新增死亡數           187885 non-null  int64
 10  七天移動平均新增死亡數     187885 non-null  float64
 11  每百萬人確診數         187885 non-null  float64
 12  每百萬人死亡數         187885 non-null  float64
 13  傳染率             187885 non-null  float64
 14  新增檢驗件數          187885 non-null  int64
 15  總檢驗件數           187885 non-null  int64
 16  每千人檢驗件數         187885 non-null  float64
 17  七天移動平均新增檢驗件數    187885 non-null  float64
 18  陽性率             187885 non-null  float64
 19  每確診案例相對檢驗數量     187885 non-null  float64
 20  疫苗總接種總劑數        187885 non-null  int64
 21  疫苗總接種人數         187885 non-null  int64
 22  疫苗新增接種劑數        187885 non-null  int64
 23  七天移動平均疫苗新增接種劑數  187885 non-null  float64
 24  每百人接種疫苗劑數       187885 non-null  float64
 25  每百人接種疫苗人數       187885 non-null  float64
 26  疫情控管指數          187885 non-null  float64
 27  總人口數            187885 non-null  int64
 28  中位數年紀           187885 non-null  float64
 29  70歲以上人口比例       187885 non-null  float64
 30  平均壽命            187885 non-null  float64
 31  解除隔離數           187885 non-null  int64
 32  解封指數            187885 non-null  float64
dtypes: float64(17), int64(12), object(4)
memory usage: 47.3+ MB

In [2]:
world_frame = frame[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]
world_frame

        洲名   國家          日期    總確診數  新增確診數      總人口數     解封指數
0       亞洲  阿富汗  2020-02-24       5      5  39835428  99999.0
1       亞洲  阿富汗  2020-02-25       5      0  39835428  99999.0
2       亞洲  阿富汗  2020-02-26       5      0  39835428  99999.0
3       亞洲  阿富汗  2020-02-27       5      0  39835428  99999.0
4       亞洲  阿富汗  2020-02-28       5      0  39835428  99999.0
...     ..  ...         ...     ...    ...       ...      ...
187880  非洲  辛巴威  2022-07-02  255586      0  15092171  99999.0
187881  非洲  辛巴威  2022-07-03  255586      0  15092171  99999.0
187882  非洲  辛巴威  2022-07-04  255726    140  15092171  99999.0
187883  非洲  辛巴威  2022-07-05  255755     29  15092171  99999.0
187884  非洲  辛巴威  2022-07-06  255805     50  15092171  99999.0

[187885 rows x 7 columns]

In [4]:
world_frame["洲名"]

0         亞洲
1         亞洲
2         亞洲
3         亞洲
4         亞洲
          ..
187880    非洲
187881    非洲
187882    非洲
187883    非洲
187884    非洲
Name: 洲名, Length: 187885, dtype: object

In [5]:
#subscript的搜尋
asia_frame = world_frame[world_frame["洲名"] == "亞洲"]
asia_frame

        洲名   國家          日期   總確診數  新增確診數      總人口數     解封指數
0       亞洲  阿富汗  2020-02-24      5      5  39835428  99999.0
1       亞洲  阿富汗  2020-02-25      5      0  39835428  99999.0
2       亞洲  阿富汗  2020-02-26      5      0  39835428  99999.0
3       亞洲  阿富汗  2020-02-27      5      0  39835428  99999.0
4       亞洲  阿富汗  2020-02-28      5      0  39835428  99999.0
...     ..  ...         ...    ...    ...       ...      ...
186200  亞洲   葉門  2022-07-02  11824      0  30490639  99999.0
186201  亞洲   葉門  2022-07-03  11824      0  30490639  99999.0
186202  亞洲   葉門  2022-07-04  11832      8  30490639  99999.0
186203  亞洲   葉門  2022-07-05  11832      0  30490639  99999.0
186204  亞洲   葉門  2022-07-06  11832      0  30490639  99999.0

[43071 rows x 7 columns]

In [ ]:
#subscript的搜尋
condition1 = (world_frame["國家"] == "台灣") & (world_frame["新增確診數"] == 0)
condition1

In [9]:
world_frame[condition1]

        洲名  國家          日期    總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16       0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17       0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18       0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19       0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20       0      0  23855008  99999.00
...     ..  ..         ...     ...    ...       ...       ...
164627  亞洲  台灣  2021-10-18   16337      0  23855008      0.16
164823  亞洲  台灣  2022-05-02  132955      0  23855008      8.02
164828  亞洲  台灣  2022-05-07  268569      0  23855008     17.16
164829  亞洲  台灣  2022-05-08  268569      0  23855008     17.16
164834  亞洲  台灣  2022-05-13  570870      0  23855008     37.55

[186 rows x 7 columns]

In [11]:
#用query搜尋
world_frame.query('國家=="台灣" and 新增確診數==0')

        洲名  國家          日期    總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16       0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17       0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18       0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19       0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20       0      0  23855008  99999.00
...     ..  ..         ...     ...    ...       ...       ...
164627  亞洲  台灣  2021-10-18   16337      0  23855008      0.16
164823  亞洲  台灣  2022-05-02  132955      0  23855008      8.02
164828  亞洲  台灣  2022-05-07  268569      0  23855008     17.16
164829  亞洲  台灣  2022-05-08  268569      0  23855008     17.16
164834  亞洲  台灣  2022-05-13  570870      0  23855008     37.55

[186 rows x 7 columns]

In [19]:
world_frame.query('日期=="2021-08-31" and 新增確診數>50')

         洲名     國家          日期       總確診數   新增確診數        總人口數     解封指數
554      亞洲    阿富汗  2021-08-31     153220      72    39835428  99999.0
1417     歐洲  阿爾巴尼亞  2021-08-31     146387    1054     2872934  99999.0
2280     非洲  阿爾及利亞  2021-08-31     196080     506    44616626  99999.0
3976     非洲    安哥拉  2021-08-31      47544     213    33933611  99999.0
6571    南美洲    阿根廷  2021-08-31    5185620    6731    45605823  99999.0
...     ...    ...         ...        ...     ...         ...      ...
180355   亞洲   烏茲別克  2021-08-31     156394     755    33935765  99999.0
183553   亞洲     越南  2021-08-31     462096   12607    98168829  99999.0
185077   全球     全球  2021-08-31  218271755  620530  2147483647  99999.0
186736   非洲    尚比亞  2021-08-31     206327     182    18920657  99999.0
187575   非洲    辛巴威  2021-08-31     124773     192    15092171  99999.0

[135 rows x 7 columns]

In [26]:
world_frame.query('日期>="2020-08-31" and 國家=="台灣" and 日期<="2020-09-32"')

        洲名  國家          日期  總確診數  新增確診數      總人口數  解封指數
164214  亞洲  台灣  2020-08-31   488      0  23855008  0.07
164215  亞洲  台灣  2020-09-01   488      0  23855008  0.07
164216  亞洲  台灣  2020-09-02   489      1  23855008  0.05
164217  亞洲  台灣  2020-09-03   489      0  23855008  0.05
164218  亞洲  台灣  2020-09-04   490      1  23855008  0.06
164219  亞洲  台灣  2020-09-05   492      2  23855008  0.06
164220  亞洲  台灣  2020-09-06   493      1  23855008  0.06
164221  亞洲  台灣  2020-09-07   494      1  23855008  0.05
164222  亞洲  台灣  2020-09-08   495      1  23855008  0.06
164223  亞洲  台灣  2020-09-09   495      0  23855008  0.06
164224  亞洲  台灣  2020-09-10   496      1  23855008  0.06
164225  亞洲  台灣  2020-09-11   498      2  23855008  0.06
164226  亞洲  台灣  2020-09-12   498      0  23855008  0.06
164227  亞洲  台灣  2020-09-13   498      0  23855008  0.06
164228  亞洲  台灣  2020-09-14   499      1  23855008  0.06
164229  亞洲  台灣  2020-09-15   499      0  23855008  0.06
164230  亞洲  台灣  2020-09-16   500      1  23855008  0.06
164231  亞洲  台灣  2020-09-17   503      3  23855008  0.07
164232  亞洲  台灣  2020-09-18   503      0  23855008  0.07
164233  亞洲  台灣  2020-09-19   506      3  23855008  0.07
164234  亞洲  台灣  2020-09-20   507      1  23855008  0.07
164235  亞洲  台灣  2020-09-21   509      2  23855008  0.08
164236  亞洲  台灣  2020-09-22   509      0  23855008  0.08
164237  亞洲  台灣  2020-09-23   509      0  23855008  0.08
164238  亞洲  台灣  2020-09-24   509      0  23855008  0.08
164239  亞洲  台灣  2020-09-25   510      1  23855008  0.08
164240  亞洲  台灣  2020-09-26   510      0  23855008  0.08
164241  亞洲  台灣  2020-09-27   510      0  23855008  0.08
164242  亞洲  台灣  2020-09-28   513      3  23855008  0.08
164243  亞洲  台灣  2020-09-29   513      0  23855008  0.08
164244  亞洲  台灣  2020-09-30   514      1  23855008  0.08

In [33]:
taiwan=world_frame.query('國家=="台灣"')
taiwan_max=taiwan["新增確診數"].max()
taiwan_max

128954

In [36]:
taiwan.query('新增確診數==@taiwan_max')

        洲名  國家          日期    總確診數   新增確診數      總人口數   解封指數
164835  亞洲  台灣  2022-05-14  699824  128954  23855008  46.24

In [38]:
japan=world_frame.query('國家=="日本"')
japan_max=japan["新增確診數"].max()
japan.query("新增確診數==@japan_max")

       洲名  國家          日期     總確診數   新增確診數       總人口數     解封指數
86369  亞洲  日本  2022-02-03  3019169  104345  126050796  99999.0